    body {
      background-color: #f0f8ff;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
      margin: 0;
    }

    h1 {  color: #0066cc;}
    p {font-size: 22px; color: #ffffff;}

    .box {
      background-color: #010101;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      display: inline-block;
      max-width: 90%;
      width: 400px;
    }
    @media (max-width: 500px) {
      body {
        padding: 20px;
      }

      p {
        font-size: 18px;
      }
      .box {
        width: 100%;
      }
    }